.product_container {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.products {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 10px;
}

.products > img {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}